*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration: inherit;
    line-height: inherit;
    color: inherit;
}
html,body{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color:#444;
    text-shadow: 1px 1px 0px #fff;
}
body{
    text-align: center;
    overflow-x:hidden;
}
h1{
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
}
h2{
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
}
a{
    color:#58b;
}
a:hover{
    color:#369;
}
section{
    border-top: 2px dashed #eee;
    padding: 50px 10px;
    max-width: 800px;
    margin: 0 auto;
}
section:target h1{
    animation: flash 1s;
}
@keyframes flash{
    from{
        text-shadow:5px 5px 0px red,
                    -5px -5px 0px red;
    }
    to{
        text-shadow: 0px 0px 0px lightcoral;
    }
}
address{
    white-space: pre-line;
}
.hero{
    height: 100vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0;
    padding: 0;
}
.hero img{
    width: 100%;
}
.headshot{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    transition: transform 10s, box-shadow 5s;
    background-image: url("images/Super tyler.jpg");
    background-size: cover;
}
.headshot:hover{
    transform: rotate(360deg);
    box-shadow: 0px 0px 100px 50px red,
                0px 0px 100px 20px lightcoral inset;
}
.headshot:hover img{
    opacity: 0;
}
.blocklist li{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 10px;
    border-color: black #eee;
}

.blocklist > li > div{
    flex-grow: 1;
    align-self: center;
}

.blocklist > li > img{
    margin: 10px 10px;
}

.blocklist > li:nth-child(odd){
 flex-direction: row;
 text-align: left;
 border-left-width: 0;
 border-top-width: 0;
 border-bottom-width: 0;
}

.blocklist > li:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
    border-right-width: 0;
}
@media (max-width: 500px){
    .blocklist > li{
        display:block;
        text-align: center !important;
        border-width: 0;
        margin:50px 0;
    }
}
.prose{
    text-align: justify;
    max-width: 500 px;
    margin: 0 auto;
}
.prose p{
    margin: 20px auto;
}
.prose li{
    list-style-position: inside;
}
.nav{
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 9999;
}
.nav li{
    list-style-type: none;
    flex-grow: 1;
}
.nav li a{
    display: block;
    line-height: 50px;
    background-color: rgb(151, 59, 59);
    color:black;
    text-shadow: 1px 1px 0px rgb(151, 59, 59);
    font-size: large;
}
.nav li a:hover{
    background-color: #fa0;
}